body{
    background-color: rgb(255, 235, 211);
}

.buttons{
    display:flex;
    flex-direction:column;
    justify-items: center;
    align-items: center;
    margin-top: 25px;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

h2{
    font-size:40px;
}

button{
    background-color: blueviolet;
    color:aliceblue;
    margin:none;
    width:500px;
    font-size: larger;
    border:none;
    border-radius: 8px;
    height:80px;
    margin-top:25px;
    margin-left:20px;
}